.container{
    margin: 50px 0;
}
.Card{
    margin: 0 2% !important;
}
.infected{
    border-bottom: 10px solid rgba(0,0,225,0.5);
}
.recovered{
    border-bottom: 10px solid rgba(0,225,0,0.5);
}
.deaths{
    border-bottom: 10px solid rgba(225,0,0,0.5);
}
@media(max-width:770px){
    .Card{
        margin: 2% 0 !important;
    }
}